In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sb

%matplotlib inline

# Data Wrangling

In [29]:
# read flight delay data
df_fl = pd.read_csv('airline_delay_causes.csv')
print(df_fl.shape)
df_fl.head()

(286627, 22)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2004,1,DL,Delta Air Lines Inc.,PBI,"West Palm Beach/Palm Beach, FL: Palm Beach Int...",650.0,126.0,21.06,6.44,...,45.92,4.0,0.0,5425.0,881.0,397.0,2016.0,15.0,2116.0,NaN
1,2004,1,DL,Delta Air Lines Inc.,PDX,"Portland, OR: Portland International",314.0,61.0,14.09,2.61,...,10.05,30.0,3.0,2801.0,478.0,239.0,1365.0,0.0,719.0,NaN
2,2004,1,DL,Delta Air Lines Inc.,PHL,"Philadelphia, PA: Philadelphia International",513.0,97.0,27.60,0.42,...,17.12,15.0,0.0,4261.0,1150.0,16.0,2286.0,0.0,809.0,NaN
3,2004,1,DL,Delta Air Lines Inc.,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",334.0,78.0,20.14,2.02,...,16.45,3.0,1.0,3400.0,1159.0,166.0,1295.0,0.0,780.0,NaN
4,2004,1,DL,Delta Air Lines Inc.,PIT,"Pittsburgh, PA: Pittsburgh International",217.0,47.0,8.08,0.44,...,16.59,4.0,1.0,1737.0,350.0,28.0,522.0,0.0,837.0,NaN

In [35]:
df_fl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286627 entries, 0 to 286626
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 286627 non-null  int64
 1    month               286627 non-null  int64
 2   carrier              286627 non-null  object
 3   carrier_name         286627 non-null  object
 4   airport              286627 non-null  object
 5   airport_name         286627 non-null  object
 6   arr_flights          286206 non-null  float64
 7   arr_del15            285981 non-null  float64
 8   carrier_ct           286206 non-null  float64
 9    weather_ct          286206 non-null  float64
 10  nas_ct               286206 non-null  float64
 11  security_ct          286206 non-null  float64
 12  late_aircraft_ct     286206 non-null  float64
 13  arr_cancelled        286206 non-null  float64
 14  arr_diverted         286206 non-null  float64
 15   arr_delay           286206 non-null  float64
 16   carrier_delay       286206 non-null  float64
 17  weather_delay        286206 non-null  float64
 18  nas_delay            286206 non-null  float64
 19  security_delay       286206 non-null  float64
 20  late_aircraft_delay  286206 non-null  float64
 21  Unnamed: 21          0 non-null       float64
dtypes: float64(16), int64(2), object(4)
memory usage: 48.1+ MB

In [26]:
# read planes data
df_pl = pd.read_csv('plane-data.csv')
df_pl.tail()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

In [19]:
# read airports data
df_ar = pd.read_csv('airports.csv')
print(df_ar.shape)
df_ar.head()

(3376, 7)

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [34]:
# join all data
df_cmb = pd.merge(df_fl, df_ar, how='left', left_on='airport', right_on='iata')
print(df_cmb.info())
df_cmb.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286627 entries, 0 to 286626
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 286627 non-null  int64
 1    month               286627 non-null  int64
 2   carrier              286627 non-null  object
 3   carrier_name         286627 non-null  object
 4   airport_x            286627 non-null  object
 5   airport_name         286627 non-null  object
 6   arr_flights          286206 non-null  float64
 7   arr_del15            285981 non-null  float64
 8   carrier_ct           286206 non-null  float64
 9    weather_ct          286206 non-null  float64
 10  nas_ct               286206 non-null  float64
 11  security_ct          286206 non-null  float64
 12  late_aircraft_ct     286206 non-null  float64
 13  arr_cancelled        286206 non-null  float64
 14  arr_diverted         286206 non-null  float64
 15   arr_delay           286206 non-null  float64
 16   carrier_delay       286206 non-null  float64
 17  weather_delay        286206 non-null  float64
 18  nas_delay            286206 non-null  float64
 19  security_delay       286206 non-null  float64
 20  late_aircraft_delay  286206 non-null  float64
 21  Unnamed: 21          0 non-null       float64
 22  iata                 285811 non-null  object
 23  airport_y            285811 non-null  object
 24  city                 285013 non-null  object
 25  state                285013 non-null  object
 26  country              285811 non-null  object
 27  lat                  285811 non-null  float64
 28  long                 285811 non-null  float64
dtypes: float64(18), int64(2), object(9)
memory usage: 65.6+ MB
None

,year,month,carrier,carrier_name,airport_x,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_delay,late_aircraft_delay,Unnamed: 21,iata,airport_y,city,state,country,lat,long
0,2004,1,DL,Delta Air Lines Inc.,PBI,"West Palm Beach/Palm Beach, FL: Palm Beach Int...",650.0,126.0,21.06,6.44,...,15.0,2116.0,NaN,PBI,Palm Beach International,West Palm Beach,FL,USA,26.683162,-80.095594
1,2004,1,DL,Delta Air Lines Inc.,PDX,"Portland, OR: Portland International",314.0,61.0,14.09,2.61,...,0.0,719.0,NaN,PDX,Portland Intl,Portland,OR,USA,45.588722,-122.597500
2,2004,1,DL,Delta Air Lines Inc.,PHL,"Philadelphia, PA: Philadelphia International",513.0,97.0,27.60,0.42,...,0.0,809.0,NaN,PHL,Philadelphia Intl,Philadelphia,PA,USA,39.871953,-75.241141
3,2004,1,DL,Delta Air Lines Inc.,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",334.0,78.0,20.14,2.02,...,0.0,780.0,NaN,PHX,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434167,-112.008056
4,2004,1,DL,Delta Air Lines Inc.,PIT,"Pittsburgh, PA: Pittsburgh International",217.0,47.0,8.08,0.44,...,0.0,837.0,NaN,PIT,Pittsburgh International,Pittsburgh,PA,USA,40.491466,-80.232871

# Data Analysis

- When is the best time of day/day of week/time of year to fly to minimise delays?
- Do older planes suffer more delays?